<header class="header">
  <section class="header__container">
    <a class="logo" href="index.html">
      <picture class="logo__img">
        <source srcset="./assets/images/images/logo-all@2x.png 2x" />
        <img src="./assets/images/images/logo-all.png" alt="company logo" width="199px" />
      </picture>
    </a>
    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <!-- <svg width="20" height="14">
        <use href="./assets/icons/icons.svg#icon-burger"></use>
      </svg> -->
    </button>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#customer-reviews">About us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about">How it's made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#products">Our products</a>
        </li>
        <li class="nav__item nav__item--accent">
          <a class="nav__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="header__button" type="button">
      Buy now
      <svg class="header__icon" width="10" height="8">
        <use href="./assets/icons/icons.svg#icon-arrow"></use>
      </svg>
    </button>
  </section>
</header>
