<section class="hero">
  <div class="hero__container position">
    <h1 class="title">
      ice cream <br />
      made with
      <span class="title title--accent">passion</span>
    </h1>
    <ul class="hero__list">
      <li class="hero__item">
        <a class="hero__link hero__link--margin" href="#products">Products</a>
      </li>
      <li class="hero__item">
        <a class="hero__link hero__link--light" href="#about">How it's made?</a>
      </li>
    </ul>
    <div class="hero__box">
      <picture>
        <source
          srcset="./assets/images/images/desktop/milk-hero-dst.png"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./assets/images/images/desktop/milk-hero-dst@2x.png"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./assets/images/images/tablet/milk-hero-tb.png"
          media="(min-width: 768px)"
        />
        <source
          srcset="./assets/images/images/tablet/milk-hero-tb@2x.png"
          media="(min-width: 768px)"
        />
        <img
          class="hero__img"
          src="./assets/images/images/desktop/milk-hero-dst.png"
          alt="glass with milk"
        />
      </picture>
      <p class="hero__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="hero__button" type="button">
        <svg class="hero__icon" width="18" height="18">
          <use href="./assets/icons/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
    <div class="ellipse">
      <picture>
        <source
          srcset="./assets/images/images/desktop/icecream-hero-dst.png"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./assets/images/images/desktop/icecream-hero-dst@2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./assets/images/images/tablet/icecream-hero-tb.png"
          media="(min-width: 768px)"
        />
        <source
          srcset="./assets/images/images/tablet/icecream-hero-tb@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./assets/images/images/mobile/icecream-hero-mb.png"
          media="(max-width: 767px)"
        />
        <source
          srcset="./assets/images/images/mobile/icecream-hero-mb@2x.png 2x"
          media="(max-width: 767px)"
        />
        <img
          class="ellipse__img"
          src="./assets/images/images/desktop/icecream-hero-dst.png"
          alt="ice-cream"
        />
      </picture>
    </div>
    <div class="points">
      <ul clas="points__list">
        <li class="points__item">
          <p class="points__number points__number--first">16</p>
          <p class="points__description">cafes</p>
        </li>
        <li class="points__item">
          <p class="points__number points__number--second">23</p>
          <p class="points__description">food trucks</p>
        </li>
      </ul>
      <picture>
        <source
          srcset="./assets/images/images/desktop/girl-hero-dst.png"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./assets/images/images/desktop/girl-hero-dst@2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./assets/images/images/tablet/girl-hero-tb.png"
          media="(min-width: 768px)"
        />
        <source
          srcset="./assets/images/images/tablet/girl-hero-tb@2x.png 2x"
          media="(min-width: 768px)"
        />
        <img
          class="points__img"
          src="./assets/images/images/desktop/girl-hero-dst.png"
          alt="Woman with ice cream"
        />
      </picture>
    </div>
  </div>
</section>
